body{
  background-color: #13131f;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.bottom-div{
  background-color: rgb(0, 255, 204);
  height: 4px;
  width: 100%;
  /* margin-bottom: -1px; */
  margin-top: 3px;
  border-radius: 2px 2px 0px 0px;
}

.icons{
  flex:1;
}

.image-not{
  width: 100px;
  margin-top: 45%;
  margin-left: 35%;
}

.not-found{
  height: 100vh;
}

.header-style{
  height: 50px;
  position: fixed;
  top:0px;
  z-index: 99999;
  background-color: #13131f;
}

.font-header{
  font-size: 13px;
}

.text{
  font-family: 'Oswald', sans-serif;
  color: gray;
}

.div-image{
  width: 125px;
  margin: auto;
  margin-top: 30vh;
}

.text-not-data{
  font-family: 'Oswald', sans-serif;
  font-size: 20px;
}

.text-formater{
  max-width: 530px;
  position: relative;
  width: 90vw;
  margin: auto;
  margin-bottom: 10px;
}

.clickable{
  cursor: pointer;
}

.icon{
  width: 15px;
  margin: auto;
  margin-top: 10px;
}

.div-header{
  width: 100vw;
  height: 50px;
  background-color: honeydew;
  position: fixed;
  top:0px;
  z-index: 99999;
}

span{
  color: aliceblue;
  font-size: 10px;
  text-align: center;
  align-self: center;
  margin: auto;
}

.card-style{
  max-width: 530px;
  width: 90vw;
  height: 100px;
  background-size: cover;
  margin: auto;
  border-radius: 3px;
  background-color:gray;
  animation: myDiv 5s 2;
}

@keyframes myDiv {
  0%{background-color: honeydew;}
  15%{background-color:gray;}
  30%{background-color: honeydew;}
  45%{background-color:gray;}
  60%{background-color: honeydew;}
  75%{background-color:gray;}
  100%{background-color: honeydew;}
}

.image{
  width: 100%;
  height: 100%;
  border-radius: 3px;
}

.text-card{
  z-index: 9999;
  float: left;
  margin-top: 75px;
  margin-left: 3px;
  position: relative;
  font-family: 'Oswald', sans-serif;
  font-size: 16px;
}

.text-data-card{
  z-index: 9999;
  float: right;
  margin-top: 80px;
  margin-right: 1px;
  position: relative;
  font-family: 'Oswald', sans-serif;
  font-size: 10px;
}

.card-style-2{
    max-width: 530px;
    position: relative;
    width: 90vw;
    height: 100px;
    background-size: cover;
    margin: auto;
    margin-top: -104px;
    border-radius: 3px;
    background-image: linear-gradient(2deg, #1a1a1a, transparent);
}

@media screen and (min-width:576px){
  .nav-container{
    z-index: 99999999;
    width: 70px;
    height: 100vh;
    position: fixed;
    left: 0;
    background-color: #1d2029;
    display: block;
    top: 0;
  }

  .left-nav{
    margin-top: 10px;
    margin-bottom: 10px;
  }
}
@media screen and (max-width:575px){
  .nav-container{
    z-index: 99999999;
    width: 100vw;
    height: 55px;
    position: fixed;
    bottom: -1px;
    background-color: #1d2029;
    display: flex;
  }
}